<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>index page</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar__icon">
            <span class="navbar__firstitem">Rappi</span>
            <span class="navbar__seconditem">Plagio</span>
        </div>
        <div class="navbar__items">
            <ul class="navbar__ul">
                <li class="navbar__item">
                    <span class="navbar__link" href="/login">Login</span>
                </li>
                <li class="navbar__item">
                    <span class="navbar__btn btn" href="/login">Sign Up</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero">
        
    </div>


</body>
</html>