<div class="boxtwo__left">
    <ul class="boxtwo__list">
        <li class="boxtwo__item">
            <a class="boxtwo__ancor" href="/home-user/my-contacts"><i class="far fa-address-book"></i> My contacts</a>
        </li>
        <li class="boxtwo__item">
            <a class="boxtwo__ancor" href="/home-user/contacts"><i class="fas fa-users"></i> More friends</a>
        </li>
        <li class="boxtwo__item">
            <a class="boxtwo__ancor" href="/home-user/search-games"><i class="fab fa-mixcloud"></i>Searh Games</a>
        </li>
        <li class="boxtwo__item">
            <a class="boxtwo__ancor" href="/home-user/my-games"><i class="fas fa-gamepad"></i> My games</a>
        </li>
    </ul>
    <div class="boxtwo__chat">
        <p class="boxtwo__title boxtwo__item">Person only</p>
        <div class="boxtwo__containerchat">
            <div class="boxtwo__person boxtwo">
                <div class="boxtwo__left">
                    <i class="far fa-user-circle colorblue"></i>
                    <span>You</span>
                </div>
                <div class="boxtwo__right boxtwo__right--move">
                    <span>only now</span>
                    <i class="fas fa-circle fontsmall colorgreen"></i>
                </div>
            </div>
            <div class="boxtwo__person boxtwo">
                <div class="boxtwo__left">
                    <i class="far fa-user-circle colorblue"></i>
                    <span>Dhaniel</span>
                </div>
                <div class="boxtwo__right boxtwo__right--move">
                    <span class="colorgray">only 5 minutes ago</span>
                    <i class="fas fa-circle fontsmall colorgray"></i>
                </div>
            </div>
            <div class="boxtwo__person boxtwo">
                <div class="boxtwo__left">
                    <i class="far fa-user-circle colorblue"></i>
                    <span>David</span>
                </div>
                <div class="boxtwo__right boxtwo__right--move">
                    <span class="colorgray">only 45 minutes ago</span>
                    <i class="fas fa-circle fontsmall colorgray"></i>
                </div>
            </div>
            <div class="boxtwo__person boxtwo">
                <div class="boxtwo__left">
                    <i class="far fa-user-circle colorblue"></i>
                    <span>Manuel</span>
                </div>
                <div class="boxtwo__right boxtwo__right--move">
                    <span class="colorgray">only 1 hour ago</span>
                    <i class="fas fa-circle fontsmall colorgray"></i>
                </div>
            </div>
            <div class="boxtwo__person boxtwo">
                <div class="boxtwo__left">
                    <i class="far fa-user-circle colorblue"></i>
                    <span>Sergio</span>
                </div>
                <div class="boxtwo__right boxtwo__right--move">
                    <span>only now</span>
                    <i class="fas fa-circle fontsmall colorgreen"></i>
                </div>
            </div>

            <form class="boxtwo__form boxtwo__person">
                <input class="boxtwo__input" type="text" name="" placeholder="Insert name of person..." id="">
                <div class="boxtwo__containerbtn boxtwo__containerbtn--relative">
                    <input class="boxtwo__btninput" type="submit" value="">
                    <i class="fas fa-search boxtwo__absolute"></i>
                </div>
            </form>
        </div>
    </div>
</div>