<div class="boxtwo__container">
    <% contacts.forEach(element => { %>
        <div class="boxtwo__boxprofile">
            <i class="far fa-user-circle colorblue sizeprofile"></i>
            <p class="boxtwo__title"> <%= element.name %>  </p>
            <a class="btns hero__btninput hero__btnmargin" href="/home-user/add-friend/<%= element._id %>/60a9702316b0ef0d4a7b2d5e  ">Send Request</a>
        </div>
    <% }) %>
</div>