<div class="navbar">
    <div class="navbar__icon">
        <i class="fab fa-instagram size"></i>
    </div>
    <div class="navbar__items">
        <ul class="navbar__ul">
            <li class="navbar__item">
                <span class="navbar__link" href="/login">Login</span>
            </li>
            <li class="navbar__item">
                <span class="navbar__btn btn noneshadow orange" href="/login">Sign Up</span>
            </li>
        </ul>
    </div>
</div>