<div class="navbar">
    <div class="navbar__icon">
        <i class="fab fa-instagram size"></i>
    </div>
    <div class="navbar__items">
        <ul class="navbar__ul">
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/login">Login</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__btn btn noneshadow orange" href="/auth/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</div>