* {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 18px;
    outline: none;
}

:root {
    --font-primary: 'Yanone Kaffeesatz', sans-serif;
}

body {
    position: relative;
}

.btn {
    border: none;
    padding: 5px 20px;
    background-color: gray;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px #959494;
}

.btns {
    height: 42px;
    border: none;
    padding: 5px 20px;
    background-color: gray;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px #959494;
}

.noneshadow {
    box-shadow: none;
}

/*
 ======================== Navbar
*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(90, 90, 90);
    position: sticky;
    width: 100%;
    color: white;
}

.navbar .navbar__icon {
    margin-left: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
    color: #FFA434;
    position: relative;
    top: 2.5px;
    display: flex;
    align-items: center;
}

.navbar .navbar__icon i {
    padding: 0 10px;
}

.size {
    font-size: 45px;
}

.sizesmall {
    font-size: 30px;
}

/* .navbar .navbar__icon::before {
    content: '';
    height: 50px;
    width: 4px;
    background-color: orange;
    display: inherit;
    position: absolute;
    bottom: 5px;
    left: 50px;
    transform: rotate(54deg);
    border-radius: 5px;
} */

.navbar .navbar__icon .navbar__seconditem {
    position: relative;
    top: 16px;
}

.navbar__items {
    align-items: center;
    display: flex;
}

.navbar__ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    margin: 0 20px;
    font-family: var(--font-primary);
}

.navbar__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.orange {
    background-color: #FFA434;
}

.color {
    color: rgb(78, 165, 70);
}
/*
======================== Hero
*/

.hero {
    height: 100vh;
    position: relative;
    background-image: url(/static/image/human.png);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: left bottom;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding-top: 50px;
}

.hero::before {
    content: '';
    height: 400px;
    width: 400px;
    background-color: #1D89EB;
    display: inherit;
    position: absolute;
    top: 50px;
    right: -200px;
    transform: rotate(54deg);
    border-radius: 50%;
    z-index: -20;
    overflow: hidden;
}

.hero::after {
    content: '';
    height: 350px;
    width: 350px;
    background-color: #51BFA6;
    display: inherit; 
    position: absolute;
    top: 180px;
    right: -200px;
    transform: rotate(54deg);
    border-radius: 50%;
    z-index: -10;
}

.hero__box {
    /* height: 400px; */
    width: 390px;
    background-color: #E3E3E3;
    justify-content: right;
    z-index: 50;
    position: relative;
    right: 140px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #959494;
    padding: 1em;
}

.hero__title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.hero__form {
    display: grid;
    width: 80%;
    margin: auto;
}

.hero__input {
    margin: 15px 0;
    padding: 10px;
    color: #111;
}
.hero__input--bw100 {
    display: block;
    width: 100%;
}

.hero__btninput {
    background-color: #FFA434;
    width: 80%;
    margin: auto;
}

.hero__message-danger {
    text-align: center;
    color: red;
    margin: 20px 0 0 0;
}

.hero__containerlinks {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0;
}

.hero__link {
    font-size: 13px;
}

.left {
    position: relative;
    left: 25px;
}

.right {
    position: relative;
    right: 25px;
}
/*
======================== Page your account is created
*/

.container {
    width: 900px;
    margin: auto;
}

.container__align {
    text-align: center;
}

.container__imagesmall {
    height: 60px;
    margin: 10px 0;
}

.container__principaltitle {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.container__secundarytitle {
    font-size: 18px;
    text-align: center;
}

.margin {
    margin: 10px auto;
}

/*
======================== Page your account is created
*/


.boxdisplacement {
    background-color: rgba(0, 0, 0, 0.137);
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.show {
    display: none;
    top: -100vh;
}

.boxdisplacement__container {
    width: 400px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    padding: 2em 1.25em;
}

.boxdisplacement__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #c55;
    padding: 5px;
    border-radius: 20px;
    height: 17px;
    width: 17px;
    text-align: center;
    color: #fff;
}

.margin50 {
    margin: 55px auto;
}

/*
======================== Home -- layout two box
*/


/*
======================== Home -- box one
*/

.twobox {
    display: flex;
    margin: auto;
}

.twobox .twobox__one {
    width: 25%;
}

.twobox .twobox__two {
    width: 75%;
}

.twobox .twobox__list {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}

.twobox .twobox__item {
    margin: 15px 0;
    font-size: 20px;
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

.twobox .twobox__item:hover {
    background-color: rgb(243, 212, 125);
}

/*
======================== Home -- box two
*/

.twobox__boxcontent {
    width: 70%;
    background-color: rgb(228, 228, 228);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.twobox__informationperson {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.twobox--pointer {
    cursor: pointer;
}

.twobox__content {
    text-align: center;
    margin: 20px 0;
}